pkgbase = templ-bin
	pkgdesc = A language for writing HTML user interfaces in Go.
	pkgver = 0.2.778
	pkgrel = 1
	url = https://github.com/a-h/templ
	arch = x86_64
	license = MIT
	provides = templ
	conflicts = templ
	source_x86_64 = templ-x86-x64-0.2.778.tar.gz::https://github.com/a-h/templ/releases/download/v0.2.778/templ_Linux_x86_64.tar.gz
	sha256sums_x86_64 = 2cb042475d8bb215b4a7b586d069f74f05ae2709266208aaf83e6d8d3fc73eff

pkgname = templ-bin
