pkgbase = templ-bin
	pkgdesc = A language for writing HTML user interfaces in Go.
	pkgver = 0.2.648
	pkgrel = 1
	url = https://github.com/a-h/templ
	arch = x86_64
	license = MIT
	provides = templ
	conflicts = templ
	source_x86_64 = templ-x86-x64-0.2.648.tar.gz::https://github.com/a-h/templ/releases/download/v0.2.648/templ_Linux_x86_64.tar.gz
	sha256sums_x86_64 = 3abad775c8ef0ff42181158e58b6d8746be7d3e2e194974345d97556ad668259

pkgname = templ-bin
